# woloszw's
/Software/Slave/FPS_Slave/*
/Hardware/Master/FPS_Master/*
/Hardware/Slave/FPS_Slave/*

# mstankiew's
/Software/Master/build
/Software/Master/.vscode
*.bkp
*.dtmp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### Altium ###
# Previews Folders
/Hardware/Master/FPS_Master/__Previews/*

# History Folders
/Hardware/History/*

# Project Logs
Project\ Logs*/

# Project Outputs
Project\ Outputs*/

# Auto-conversion notices
.PcbDoc.htm

# Access lock file for dbLib sources
/*.ldb